.Footer {
  background-color: $color-bg-main;
  color: #FFF;

  &-container {
    @extend .u-sectionContainer;
    @extend .u-flexColumnCenter;
    padding: .5rem;
    text-align: center;

    & > * {
      margin: .5rem auto;
      width: 100%;
    }
  }

  &-legend { order: 1; }
}

@media screen and (min-width: 64em) {
  .Footer {
    &-container {
      flex-direction: row;

      & > * { width: 50%; }
    }

    &-legend {
      text-align: left;
      order: 0;
    }

    &-nav { text-align: right; }
  }
}
