$font-family: sans-serif;
$font-html: 16px;
$bg-color: steelblue;

html {
  box-sizing: border-box;
  font: {
    family: $font-family;
    size: $font-html;
    weight: normal;
  }
  background-color: $bg-color;
}
